.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 32px 0;
}

.logo {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;



    .vodoley {


    }
}

.logo span {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffffaa;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #000;
}

/*.now_data {*/
/*    font-size: 1.5rem; !* Размер шрифта *!*/
/*    font-weight: bold; !* Жирный шрифт *!*/
/*    color: #00ffcc; !* Неоновый цвет *!*/
/*    text-shadow: 0 0 5px #84c4ec, 0 0 10px #00ffcc, 0 0 15px #00ffcc, 0 0 20px #00ffcc, 0 0 25px #00ffcc;*/
/*    background-color: rgba(0, 0, 0, 0.7); !* Полупрозрачный черный фон *!*/
/*    padding: 5px 10px; !* Внутренний отступ *!*/
/*    border-radius: 5px; !* Закругленные углы *!*/
/*    margin-left: 20px; !* Отступ слева *!*/
/*}*/

.now_data {
    display: flex;
    align-items: center;
    gap: 5px; /* Отступ между элементами */
}

.time_circle {
    font-size: 1rem; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #ffffff; /* Цвет текста */
    background-color: #ffffffaa; /* Цвет фона */
    padding: 10px; /* Внутренний отступ */
    border-radius: 50%; /* Закругленные края */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; /* Ширина кружка */
    height: 20px; /* Высота кружка */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),*/
    /*0 2px 10px rgba(0, 0, 0, 0.8);*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 2px #000;
}

.time_separator {
    font-size: 1rem; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #ffffff; /* Цвет текста */
    text-shadow: 0 1px 2px #000; /* Тень текста */
}
