.movie-item {
    margin: 20px;
    position: relative;
}

.movie-poster-container {
    display: flex;
    position: relative;
}

.movie-poster {
    min-width: 140px;
    min-height: 200px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    background: #222;
    /*display: block;*/
    /*width: 100%; !* Можно изменить на нужный размер *!*/
    /*height: auto;*/
}

.movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*background: rgba(0, 0, 0, 0.5); !* Полупрозрачный черный фон *!*/
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.movie-title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #dddddd;
}
