@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ddd;
    background: #3a3938;
}

.container {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.popular {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

